<main class="mx-auto max-w-7xl flex-1 w-full">
    <section class="grid gap-4 md:gap-8 p-4 md:p-6">
        <div class="px-8 py-4 rounded-lg border bg-header-registro2 text-white shadow-sm ">
            <!-- ENCABEZADO -->
            <div class="flex justify-between items-center mb-4">
                <!-- TÍTULO -->
                <h1 class="text-3xl font-semibold text-yellow-500">PRODUCTOS</h1>
                <% if (notification) { %>
                    <!-- NOTIFICACIÓN -->
                    <div class="text-header-verde px-4 py-2 rounded-lg">
                        <%= notification %>
                    </div>
                <% } %>
            </div>
            <!-- CONTENIDO -->
            <div class="flex justify-center">
                <div class="grid grid-cols-4 gap-4">
                    <% if (products && products.length) { %>
                        <% products.forEach(product => { %>
                            <!-- CARD -->
                            <div class="bg-header-registro p-6 rounded-lg shadow-md grid">
                                <!-- BLOQUE ALTO -->
                                <img src="<%= product.image %>" alt="<%= product.name %>"
                                    class="object-cover rounded-lg w-50 mb-4" />
                                <!-- BLOQUE MEDIO -->
                                <div>
                                    <h3 class="text-md font-semibold">
                                        <%= product.name %>
                                    </h3>
                                    <p class="text-yellow-500">
                                        <%= product.price %> €
                                    </p>
                                </div>
                                <!-- BLOQUE BAJO -->
                                <div class="flex justify-evenly items-center mt-4">
                                    <!-- Añadir al carrito -->
                                    <% if (loggedIn) { %>
                                    <button onclick="addToCart('<%= product._id %>')" class="bg-header-registro py-2 px-4 rounded-lg">
                                        <i class="fa-solid fa-shopping-cart" aria-label="Carrito"></i>
                                    </button>
                                    <% } else { %>
                                        <a class="hover:text-yellow-500 text-sm" href="/register">
                                            <p>Regístrate<br> para comprar</p>
                                        </a>
                                    <% } %>
                                    <!-- Detalles del producto -->
                                    <a href="/products/<%= product._id %>"
                                        class="block border rounded-lg px-2 py-1 hover:border-yellow-500 hover:text-yellow-500">
                                        Ver detalle
                                    </a>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p class="bg-white">No hay productos disponibles.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    async function addToCart(productId) {
        try {
            const response = await fetch('/cart/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest' // Marca la solicitud como AJAX
                },
                body: JSON.stringify({ productId })
            });

            if (response.ok) {
                // Actualiza la cantidad en el carrito
                await updateCartCount();
            } else {
                console.error('Error al agregar producto al carrito:', await response.text());
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function updateCartCount() {
        try {
            const response = await fetch('/cart/totalItems');
            const data = await response.json();
            const cartCountElement = document.getElementById('cart-count');
            cartCountElement.textContent = data.totalItems;
        } catch (error) {
            console.error('Error fetching cart data:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', updateCartCount);
</script>
