<%- include("../templates/head") %>
    <%- include('../templates/header', { loggedIn: loggedIn }) %>

        <main class="mx-auto max-w-7xl flex-1 w-full">
            <section class="grid gap-4 md:gap-8 p-4 md:p-6">
                <!-- VISTA PARA "POST + COMENTARIOS" -->
                <div class="px-8 py-4 rounded-lg border bg-header-registro2 text-white shadow-sm">
                    <!-- ZONA CREADOR DEL POST -->
                    <div>
                        <div class="grid">
                            <!-- TÍTULO POST -->
                            <h1 class="text-3xl font-semibold text-yellow-500">
                                <%= post.title %>
                            </h1>
                            <!-- AUTOR POST -->
                            <p class="italic pt-2 text-header-verde">
                                <%= post.author.username %>
                                    <%= post.createdAt %>
                            </p>
                        </div>
                        <!-- CONTENIDO POST -->
                        <p class="mt-1 p-2 rounded-md w-full bg-header-registro">
                            <%= post.content %>
                        </p>

                        <!-- BOTÓN MODAL "RESPONDER" -->
                        <% if (loggedIn) { %>
                            <button id="openModalButton" type="button"
                                class="px-2 rounded-full hover:border-yellow-500 mt-2 text-sm text-white border hover:bg-gradient-to-r from-header-verde to-yellow-500 inline-block hover:text-transparent bg-clip-text">
                                Responder
                            </button>
                            <!-- MODAL PARA ENVIAR COMENTARIOS -->
                            <div id="replyModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
                                <div class="flex items-center justify-center min-h-screen">
                                    <div
                                        class="px-8 py-4 rounded-lg border bg-gradient-to-t from-header-negro to-header-registro2 text-white shadow-sm">
                                        <div class="flex justify-between gap-5">
                                            <!-- Contenido del modal aquí -->
                                            <h2 class="text-xl font-semibold">Responder a <span class="text-yellow-500">
                                                    <%= post.author.username %>
                                                </span>
                                            </h2>
                                            <!-- Botón para cerrar el modal sin enviar comentario -->
                                            <button id="closeModalButton"
                                                class="bg-transparent border-2 border-white text-white py-1 px-4 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">
                                                X
                                            </button>
                                        </div>
                                        <form action="/forum/post/<%= post._id %>/add-comment" method="POST">
                                            <div class="grid justify-center mt-4">
                                                <!-- <div contenteditable="true" class="form-control bg-header-registro rounded-lg" id="commentContent" name="content" required></div> -->
                                                <textarea class="form-control bg-header-registro rounded-lg p-4"
                                                    id="commentContent" name="content" rows="5" required></textarea>

                                                <button type="submit"
                                                    class="mt-4 bg-transparent border-2 border-white text-white py-1 px-4 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">Enviar
                                                    comentario</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <% } %>

                                <!-- ZONA COMENTARIOS -->
                                <div>
                                    <h2 class="text-xl font-semibold mb-2 pt-4  text-yellow-500">Comentarios</h2>
                                    <div class="mt-1 p-2 rounded-md w-full bg-header-registro">
                                        <% if (comments.length===0) { %>
                                            <p>No hay comentarios aún.</p>
                                            <% } else { %>
                                                <% comments.forEach(comment=> { %>
                                                    <div class="mb-4">
                                                        <p class="text-header-verde">Por <%= comment.author.username %>,
                                                                <%= comment.createdAt %>
                                                        </p>
                                                        <p class="overflow-wrap break-words">
                                                            <%= comment.content %>
                                                        </p>
                                                    </div>
                                                    <% }); %>
                                                        <% } %>
                                    </div>
                                </div>
                    </div>
            </section>
        </main>