<main class="mx-auto max-w-7xl flex-1 w-full">
    <section class="grid gap-4 md:gap-8 p-4 md:p-6">
        <!-- TÍTULO -->
        <h1 class="italic flex justify-center text-4xl font-bold bg-header-registro2 mx-auto rounded-lg px-4 text-white shadow-lg">Bienvenido a la galería de Trazyn</h1>
        <!-- TARJETAS -->
        <div class="grid lg:grid-cols-2 gap-4 md:gap-8 justify-center">
            <% for (let i=0; i < sets.length; i++) { %>
                <!-- CONTENEDOR -->
                <div class="container rounded-lg border bg-header-registro2 text-white shadow-sm set-card"
                    id="set-card-<%= i %>">
                    <!-- CONTENIDO -->
                    <div class="py-6 grid items-center gap-4">
                        <!-- BLOQUE 1 -->
                        <div class="flex lg:text-sm justify-evenly">
                            <div class="">
                                <img src="<%= sets[i].image %>" width="120" height="120"
                                    class="rounded-lg aspect-square object-cover " alt="Set de inicio de colección" />
                            </div>
                            <div>
                                <div class="grid gap-1 px-4">
                                    <div class="font-semibold flex justify-center items-center text-3xl text-center">
                                        <h2>
                                            <%= sets[i].name %>
                                        </h2>
                                    </div>
                                </div>
                                <div class="pt-5 flex justify-center">
                                    <button
                                        class=" bg-transparent border-2 border-white text-white px-10 py-3 mx-5 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500"
                                        onclick="window.location.href='products/<%= sets[i].id %>'">
                                        Ver set
                                    </button>
                                    <button
                                        class=" bg-transparent border-2 border-white text-white px-10 py-3 mx-5 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500"
                                        onclick="window.location.href='products/<%= sets[i].id %>'">
                                        Ver topics
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- BLOQUE 2 -->
                        <div class="">
                            <div class="container ">
                                <p class="text-sm px-4">
                                    La manera perfecta de comenzar un nuevo ejército o agregar refuerzos a una fuerza
                                    existente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="bg-header-registro2 mx-auto px-4 py-2 rounded-full">
            <!-- ICONOS REDONDOS -->
            <div class="flex justify-center items-center icons-container">
                <a href="#" class="rounded-full mx-4 icon-link">
                    <img src="/img/necron.png" alt="Imagen 1" class="w-20 h-20 rounded-full icon-image"
                        data-target="set-card-0" />
                </a>
                <a href="#" class="rounded-full mx-4 icon-link">
                    <img src="/img/marine.png" alt="Imagen 2" class="w-20 h-20 rounded-full icon-image"
                        data-target="set-card-1" />
                </a>
                <a href="#" class="rounded-full mx-4 icon-link">
                    <img src="/img/militarum.png" alt="Imagen 3" class="w-20 h-20 rounded-full icon-image"
                        data-target="set-card-2" />
                </a>
                <a href="#" class="rounded-full mx-4 icon-link">
                    <img src="/img/tau.png" alt="Imagen 4" class="w-20 h-20 rounded-full icon-image"
                        data-target="set-card-3" />
                </a>
            </div>
        </div>
    </section>
</main>