<main class="mx-auto max-w-7xl flex-1 w-full">
  <section class="grid gap-4 md:gap-8 p-4 md:p-6">
    <div class="px-8 py-4 rounded-lg border bg-header-registro2 text-white shadow-sm">
      <!-- ENCABEZADO -->
      <div class="grid grid-cols-2 justify-between">
        <!-- PÁGINA -->
        <div class="grid items-center mb-2">
          <!-- TÍTULO -->
          <h1 class="text-3xl font-semibold text-yellow-500 mb-1">CARRITO</h1>
          <!-- SUBTÍTULO -->
          <h2 class="text-xl font-semibold text-yellow-500">Tus productos</h2>
        </div>
        <!-- ACTIONS -->
        <!-- <div class="flex justify-center items-center">
                    <a href="/admin/users/add" class="border rounded-lg bg-header-registro2 px-4 py-2 hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">Agregar Usuario</a>
                </div> -->
      </div>
      <!-- CONTENIDO -->
      <div class="text-center bg-header-registro border-2 rounded-lg">
        <!-- CARRITO CON PRODUCTOS -->
        <% if (cart && cart.products.length> 0) { %>
          <table class="w-full">
            <thead class="bg-header-registro">
              <tr class="text-center">
                <th class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Nombre</th>
                <th class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Cantidad</th>
                <th class="px-6 py-3 text-xs font-medium uppercase tracking-wider">€/ud.</th>
                <th class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Total</th>
                <th class="px-6 py-3 text-xs font-medium uppercase tracking-wider">Acciones</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-blue-200">
              <% cart.products.forEach(item=> { %>
                <tr class="hover:text-yellow-500">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%= item.product.name %>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <select class="w-20 rounded-lg text-black text-center" name="quantity">
                      <% for(let i=1; i <= 15; i++) { %>
                        <option value="<%= i %>" <% if (item.quantity===i) { %> selected <% } %>><%= i %></option>
                      <% } %>
                    </select>
                    
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%= item.product.price %> €
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%= (item.product.price * item.quantity) %> €
                </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <button class="px-6 py-2 hover:text-white bg-header-registro rounded-lg">
                      <span>Eliminar</span>
                    </button>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <!-- CARRITO VACÍO -->
          <% } else { %>
            <div class="text-center">
              <h2 class="text-2xl font-bold mb-4">Carrito Vacío</h2>
              <p class="text-yellow-500">Tu carrito está vacío. ¡Agrega algunos productos!</p>
            </div>
            <% } %>
      </div>
    </div>
  </section>
</main>